$color-active: #FEE040;
$color-activelinks: #FFAD47;
$color-background-first: #FFFFFF;
$color-background-second: #F5F5F5;
$color-text1: #707070;
$color-text2: #333333;
$color-text3: #505050;
$color-text4: #151515;

$width: 1920px;
$content-width1500: 1500px;
$content-width: 1420px;

$laptopL-width: 1440px;
$laptopS-width: 1024px;
$tablet-width: 768px;
$mobileL-width: 375px;
$mobileS-width: 320px;