$color-active: #FEE040;
$color-activelinks: #FEE040;
$color-background-first: #FFFFFF;
$color-background-second: #F5F5F5;

$colorgradient-numbers: linear-gradient(180deg, #F2C94C -1.11%, rgba(242, 201, 76, 0.5) 101.11%);
$colorgradient-words: linear-gradient(180deg, #F2C94C -1.11%, rgba(242, 201, 76, 0.5) 101.11%);

$content-width: 1900px;
$standart-width: 1140px;
$tablet-width: 768px;
$mobile-width: 320px;