@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima.ttf');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/ProximaNova-Light.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.ttf');
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebasneuebold.ttf');
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('../fonts/bebasneuelight.ttf');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroylight.ttf');
}

@font-face {
    font-family: 'Gilroy-Exbold';
    src: url('../fonts/Gilroyextrabold.ttf');
}