@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.ttf');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf');
}